img{
    float:left; 
    border: 3px solid transparent; 
}

.imageLeft{
    float:left;
    margin-right:24px; 
}

.imageRight{
    float:right;
    margin-left:24px;
}

a img:hover{
    text-decoration: none;
    border: 3px solid #00659d;
}

