img{
    float:left;
    vertical-align: middle;  
    border: 4px solid transparent;   
}

.imageLeft{
    float:left;
    margin-right:24px; 
}

.imageRight{
    float:right;
    margin-left:24px;
}

a img:hover{
    text-decoration: none;
    border: 4px solid #00659d;
}
