.menu {
    min-width: 960px;
    text-align:center;
    margin-right:auto;
    margin-left:auto;
    margin-top:0px;
    margin-bottom: 0px;
    width:100%;
    font-family: 'News Cycle', sans-serif;
    font-size: 24px;
    background-image: url("/assets/_images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center top; 
}

.menuSide {
    display:inline-block;
    vertical-align: middle;
    
}

nav {
    position:relative;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    display:inline-block;
}

.menu a {
    text-decoration: none;
    color:white;
    margin-right: 8px;
    margin-left: 8px;
}

.menu a:hover {
    text-decoration: underline;
}

.logoImage {
    display:inline-block; 
    vertical-align: middle;
}

.menuRibbon {
    height:42px;
    padding-top:5px;
    padding-bottom: 5px;
    background-color: #005289;
    width:100%;
    margin-left:auto;
    margin-right: auto;
    margin-top: -189px;
    margin-bottom: 146px;
    min-width: 960px;
}
.menuRibbonInner {
    height:40px;
    border-top: 1px white solid;
    border-bottom: 1px white solid;
    background-color:#00659d;
    width:100%;
    margin-left:auto;
    margin-right: auto;
    margin-top:0px;
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
    border-left: 26px solid white;
    float:left;
    margin-top: -5px;
}

.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent; 
    border-right:26px solid white;
    float:right;
    margin-top: -5px;
}

.footer {
    border-top: 1px dashed #005289;
    text-align:center;
    padding-top:24px;
    padding-bottom: 24px;
    min-width:960px;
    max-width:1200px;
    margin-right:auto;
    margin-left: auto;
}

.footer a {
    text-decoration: none;
    padding-left:12px;
    padding-right:12px;
    color: #005289; 
}
.footer div {
    margin-top: 24px;
    line-height: 1.5;
}

.footer a:hover {
    text-decoration: underline;
}

.buttonBox {
    position: absolute;
    right:5px;
    top:5px;
}
.buttonBox button {
    background-color: transparent;
    color: #00659d;
    border: none;    
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin:0px;
}

.buttonBox button:focus {
    outline:0;
}

.buttonBox .selected {
    background-color: #00659d;
    color: white;
    border: none;  
}

.buttonBox .unselected {
    background-color: transparent;
    color: #00659d;
    border: none;  
}
