
<div class = "buttonBox">
  <button [class] = "(currentLanguage$ | async) === 'english' ? 'selected' : 'unselected'" (click)="changeToEnglish()">English</button>
  <button [class] = "(currentLanguage$ | async) === 'dutch' ? 'selected' : 'unselected'" (click)="changeToDutch()">Dutch</button>
</div>

<div class = "menu">
  
  <nav>

    <ng-container [ngSwitch]="(currentLanguage$ | async)">
      <ng-template ngSwitchCase="english">
        <div class = "menuSide">
          <a routerLink="/" routerLinkActive="active">Home</a>
          <a routerLink="/about" routerLinkActive="active">About</a>
          <a routerLink="/freebies" routerLinkActive="active">Freebies</a>
        </div>

        <a routerLink="/" routerLinkActive="active" class = "logoImage"> <img src="./assets/_images/logo-blue.png" /> </a>

        <div class = "menuSide">
          <a routerLink="/shop" routerLinkActive="active">Shop</a>
          <a routerLink="/commissions" routerLinkActive="active">Commissions</a>
          <a routerLink="/links" routerLinkActive="active">Links</a>
        </div>
    </ng-template>

    <ng-template ngSwitchCase="dutch">
      <div class = "menuSide">
          <a routerLink="/" routerLinkActive="active">Home</a>
          <a routerLink="/about" routerLinkActive="active">Over Ons</a>
          <a routerLink="/freebies" routerLinkActive="active">Gratis</a>
        </div>

        <a routerLink="/" routerLinkActive="active" class = "logoImage"> <img src="./assets/_images/logo-blue.png" /> </a>

        <div class = "menuSide">
          <a routerLink="/shop" routerLinkActive="active">Winkel</a>
          <a routerLink="/commissions" routerLinkActive="active">Werk Op Maat</a>
          <a routerLink="/links" routerLinkActive="active">Links</a>
        </div>
    </ng-template>
  </ng-container>

  </nav>
</div>

<div class = "menuRibbon"><div class="arrow-right"></div><div class="arrow-left"></div><div class = "menuRibbonInner"></div></div>

<div class = "content">
  <router-outlet></router-outlet>
</div>

<ng-container [ngSwitch]="(currentLanguage$ | async)">
  <ng-template ngSwitchCase="english">
    <div class = "footer">
      <nav>
        <a routerLink="/" routerLinkActive="active">Home</a>
        <a routerLink="/about" routerLinkActive="active">About</a>
        <a routerLink="/freebies" routerLinkActive="active">Freebies</a>
        <a routerLink="/shop" routerLinkActive="active">Shop</a>
        <a routerLink="/commissions" routerLinkActive="active">Commissions</a>
        <a routerLink="/links" routerLinkActive="active">Links</a>
      </nav>

      <div>
       All content unless otherwise noted is &copy; 2010-2017 to Song Thread.<br/>
       Song Thread is the sole property of Nathalie Robrechts.
      </div>
    </div>    
  </ng-template>

  <ng-template ngSwitchCase="dutch">
    <div class = "footer">
      <nav>
        <a routerLink="/" routerLinkActive="active">Home</a>
        <a routerLink="/about" routerLinkActive="active">Over Ons</a>
        <a routerLink="/freebies" routerLinkActive="active">Gratis</a>
        <a routerLink="/shop" routerLinkActive="active">Winkel</a>
        <a routerLink="/commissions" routerLinkActive="active">Werk Op Maat</a>
        <a routerLink="/links" routerLinkActive="active">Links</a>
          
      </nav>

      <div>
        Alle inhoud van deze website, behalve als het anders geformuleerd is, is  &copy; 2010-2017 to Song Thread.<br/>
        Song Thread is het eigendom van Nathalie Robrechts.
      </div>
    </div>
  </ng-template>
</ng-container>
