img{
    vertical-align: middle;  
    border: 3px solid transparent;
}

a img:hover{
    text-decoration: none;
    border: 3px solid #00659d;
}

.imageLeft{
    float:left;
    margin-right:24px; 
}

.imageRight{
    float:right;
    margin-left:24px;
}

a {
    color: #00659d;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.textLinkContainer{
    padding:0px;
    margin-top:-8px;
    overflow: auto;
}

