<div class="imageTextContainer">
  <div class = "imageContainer">
    <a [href] = "block.link_url" target="_blank">  <img [src]="block.image_url" [ngClass]="{'imageLeft': block.image_side === 'left','imageRight': block.image_side === 'right'}"/> </a>
    
  </div>
  <div class = "textLinkContainer">
      <ng-container [ngSwitch]="(currentLanguage$ | async)">
        <ng-template ngSwitchCase="english">
          <a [href] = "block.link_url" target = "blank"> {{block.english}} </a>
        </ng-template>

        <ng-template ngSwitchCase="dutch">
          <a [href] = "block.link_url" target = "blank"> {{block.dutch}} </a>
        </ng-template>
      </ng-container>
    </div>
</div>
