img {
    background-color:white;
    width: 170px;
    height: 135px;
}
.title{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align:center;
    font-size:14px;
    padding:6px;
}
.listing{
    width: 184px;
    display:inline-block;
    margin-left:3px;
    margin-right: 3px;
    margin-bottom:12px;
    position: relative;
    border: 2px #e3e3e3 solid;
    border-radius: 7px;
}

.listing div{
    margin: 0px;
}

a{
    text-decoration: none;
    color: #00659d;
}

.title:hover{
    text-decoration: underline;
}

.listing:hover{
    border-color: #00659d;
}

/*@media all and (max-width: 700px) {
    .listing {
        float: none;
        width: 90%;
        margin: 10px auto;
    }
}*/
