<div class = "section">
  <h3>{{section.title}}</h3>
  <div class = "listingsContainer">
    <ng-container *ngFor="let listingId of section.listingIds | slice:0:section.rowLimit">
      <app-etsy-listing [listing]="(listingsHash$ | async)[listingId]"></app-etsy-listing>
    </ng-container>
  </div>

  <div class = "buttonContainer">
    <button (click)="showMore()" *ngIf="section.listingIds.length > section.rowLimit">
      <ng-container [ngSwitch]="(currentLanguage$ | async)">
        <ng-template ngSwitchCase="english">
          Show More
        </ng-template>

        <ng-template ngSwitchCase="dutch">
          Toon meer
        </ng-template>
      </ng-container>
    </button>
  </div>
</div>
