html{
   font-family: Verdana, Geneva, Tahoma, sans-serif; 
   padding:0px;
   margin: 0px;
   font-size:16px;
}

div, p, figure {
    padding:0px;
    margin:0px;
}

.content{
    min-width:960px;
    max-width:1200px;
    margin-left:auto;
    margin-right: auto;
    text-align: left;
    overflow: auto;
}

.content div{
    line-height: 1.5;
}

img{
    line-height: 0px;
}


.pageContent{
    float:left;
    padding-right: 12px;
    padding-left: 12px;
}

h1{
    font-family: 'News Cycle', sans-serif;
    font-size: 35px;
    border-bottom: 1px dashed #005289; 
    padding:0px;
    margin: 0px;
    color: #00659d;

}

h3{
    font-family: 'News Cycle', sans-serif;
    margin: 24px 0px 24px 0px;
    padding: 0px;
    font-size:24px;
    color: #005289;
}

.imageTextContainer{
    width:100%;
    float:left;
}

.loading{
    text-align:center;
    font-size: 22px;
}

.textContainer p {
    padding-bottom: 24px;
}

.textContainer a:hover{
    text-decoration: underline;
}

.textContainer a {
    color: #00659d;
    text-decoration: none;
}


