.imageLeft{
    float:left;
    margin-right:24px; 
}

.imageRight{
    float:right;
    margin-left:24px;
}

.imageCenter{
    width:100%;
    margin-right:auto;
    margin-left:auto;
    text-align:center;
}

img{
    vertical-align: middle;  
    border: 3px solid transparent;
}

a img:hover{
    text-decoration: none;
    border: 3px solid #00659d;
}
